///////////////////
//// Base SASS ////
///////////////////

*,
input {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
}

// Sections

body {
    height: 100vh;
    width: 100%;
}

// Elements

h1,
h2 {
    padding: 0.67em 0 0.4em 0;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 12px;
}

button {
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
    width: 100%;

    &:focus {
        outline: 0;
    }

    &.btn {
        font-family: $fontFamily;
        padding: 15px 25px;
    }

    &.btn-style-dark {
        background: linear-gradient(to bottom right, $primaryGradTwo, $primaryGradOne);
        box-shadow: $boxShadowDark;
    }
}

input {
    font-size: 16px!important; // Is being overwritten by the mapbox-gl-directions.css file
}

// Classes

.inner {
    padding: 10px;
}

.mask {
    @include positioning(fixed, 0, 0, 0, 0);
    background: rgba(22, 22, 22, 0.6);
    z-index: 200;
    display: none;
}