////////////////////////
//// Variables SASS ////
////////////////////////

// Text Color
$primaryTextColor: #FFFFFF;

// Grad Colors
$primaryGradOne: #7300FF;
$primaryGradTwo: #AB00C9;

$secondGradOne: #002FFF;
$secondGradTwo: #00FF8C;

// Font Variables
$fontFamily: "Josefin Sans", sans-serif;

// Misc
$borderRadius: 10px;
$boxShadowDark: 0 0 10px 2px #561A9E;