/////////////////////
//// Layout SASS ////
/////////////////////

* {
    box-sizing: border-box;
    color: $primaryTextColor;
}

.ajax-loading {
    @include positioning(fixed, 0, 0, 0, 0);
    z-index: 300;
    display: none;

    img {
        @include positioning(absolute, 50%, $l: 50%);
        width: 200px;
        height: 200px;
        transform: translateX(-50%) translateY(-50%);
    }
}