//////////////////////
//// Modules SASS ////
//////////////////////

.header {
    @include positioning(fixed, 0px, $l: 0px, $r: 0px);
    height: 50px;
    z-index: 100;

    .how-to-text {
        @include positioning(absolute, $r: 0px);
        display: inline-block;
        line-height: 50px;
        padding: 0px 20px;
    }
}

.main {
    position: relative;
    min-height: 100%;

    .section > .inner {
        position: relative;
        height: 100%;
        padding-top: 50px;
    }

    .section {
        @include positioning(fixed, 0, 0, 0, 0);
        z-index: 50;
        overflow: scroll;

        .inner {
            .content {
                .input-wrapper {
                    @include positioning(absolute, $t: 50%, $l: 50%);
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;

                    .mapboxgl-ctrl-geocoder {
                        margin: 0 auto;
                        background: none;

                        input {
                            padding: 10px 40px;
                            text-align: center;
                            color: white;
                            cursor: pointer;

                            &::-webkit-input-placeholder {
                                color: white;
                                opacity: 0.75;
                            }
                        }

                        .suggestions {
                            background-color: rgba(22, 22, 22, 0.25);
                            border-radius: $borderRadius;

                            li {
                                &.active a {
                                    background: linear-gradient(to bottom right, $primaryGradOne, $primaryGradTwo);
                                }

                                a {
                                    font-size: 16px;

                                    &:hover {
                                        background: linear-gradient(to bottom right, $primaryGradOne, $primaryGradTwo);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .fixed-btn {
                @include positioning(fixed, $b: 10px);
                width: calc(50% - 15px);
            }

            .btn-back {
                left: 10px;
            }

            .btn-next {
                right: 10px;
            }
        }
    }

    .section-one {
        .inner {
            .content {
                padding-top: 60px;

                .tag-line {
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .section-one-button {
                @include positioning(fixed, $l: 10px, $r: 10px, $b: 10px);
                width: calc(100% - 20px);
            }
        }
    }

    .section-five {
        .inner {
            .input-wrapper {
                @include positioning(fixed, $t: 50%, $l: 50%);
                transform: translateX(-50%) translateY(-50%);
            }

            .people-counter {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                font-size: 70px;

                .counter-button {
                    cursor: pointer;
                }

                span {
                    margin: 0 auto;
                }
            }
        }
    }

    .section-seven {
        .inner {
            .btn-back {
                width: calc(100% - 20px);
            }
        }
    }

    .map {
        @include positioning(fixed, 0, 0, 0, 0);

        .marker {
            font-size: 50px;
            color: #AB00C9;
        }
    }

    .background-overlay {
        @include positioning(fixed, 0, 0, 0, 0);
        z-index: 50;

        img {
            height: 100vh;
        }

        .opaque-overlay {
            @include positioning(absolute, 0, 0, 0, 0);
            background: linear-gradient(to bottom right, $primaryGradOne, $primaryGradTwo);
            opacity: 0.65;
        }
    }
}

.form-section {
    opacity: 0;
    transform: scale(0);
    transition: 400ms;
    display: none;

    .another-stop {
        padding: 10px 20px;
        display: block;
        cursor: pointer;
    }
}

.how-do-i-work-popup {
    @include positioning(fixed, 0, 0, 0, 0);
    z-index: 200; // Makes sure it's above all the other content
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
    display: none;

    .inner {
        padding: 15px;
        position: relative;
        overflow: scroll;
    }
}

.how-do-i-work-popup,
.more-vehicle-info-popup,
.save-journey-name-popup,
.load-journey-popup {
    .inner {
        background: linear-gradient(to bottom right, $secondGradOne, $secondGradTwo);
        border-radius: $borderRadius;
        box-shadow: $boxShadowDark;
    }
}

.more-vehicle-info-popup {
    @include positioning(fixed, 0, 0, 0, 0);
    z-index: 200; // Makes sure it's above all the other content
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
    display: none;
    max-height: 800px;

    .inner {
        padding: 15px;
        position: relative;
        overflow: scroll;
        height: 100%;

        img {
            max-width: 100%;
            max-height: 200px;
            margin: 0 auto;
            display: block;
        }

        table {
            width: 100%;

            td {
                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }

            .small {
                font-size: 10px;
            }
        }
    }
}

.close-button {
    font-size: 24px;
    float: right;
    cursor: pointer;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.save-journey-name-popup {
    @include positioning(fixed, $t: 50%, $l: 50%);
    z-index: 300;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 350px;
    display: none;

    .inner {
        input {
            outline: 0;
            border: none;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background-color: transparent;

            &::-webkit-input-placeholder {
                color: white;
                opacity: 0.75;
            }
        }

        .underline {
            margin-bottom: 15px;
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            padding-top: 15px;
        }
    }
}

.load-journey-popup {
    @include positioning(fixed, 0, 0, 0, 0);
    z-index: 300;
    display: none;
}

.vehicle-options {
    .vehicle-option {
        margin: 5px;
        outline: 0;

        .outer {
            width: 100%;
            
            .inner {
                max-width: 500px;
                border-radius: $borderRadius;
                background: linear-gradient(to bottom right, $secondGradOne, $secondGradTwo);
                margin: 0 auto;
                box-shadow: $boxShadowDark;

                img {
                    max-width: 100%;
                    max-height: 200px;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

.underline {
    display: block;
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: white;
}